@import "tailwindcss";

button{
    cursor: pointer;
}
:root {
    font-family: var(--font-nunito), sans-serif;
  }
/* tailwind.config.js da yoki alohida CSS faylda */
@layer utilities {
    .animate-slide-down {
      animation: slideDown 0.4s ease-in-out;
    }
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  /* styles/nprogress.css */
#nprogress .bar {
  background: #6366f1; /* Indigo */
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #6366f1, 0 0 5px #6366f1;
}
